{"openapi":"3.0.1","info":{"title":"Althea Medical API","description":"Althea Medical API documentation","termsOfService":"","contact":{"name":"","url":"","email":""},"license":{"name":"unlicensed","url":""},"version":"0.0.1"},"servers":[{"url":"https://qaback.alteha.com:3232","description":"Generated server url"}],"paths":{"/api/wallets/{id}":{"get":{"tags":["wallet-resource"],"operationId":"getWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletDTO"}}}}}},"put":{"tags":["wallet-resource"],"operationId":"updateWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletDTO"}}}}}},"delete":{"tags":["wallet-resource"],"operationId":"deleteWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["wallet-resource"],"operationId":"partialUpdateWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/WalletDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletDTO"}}}}}}},"/api/verification-documents/{id}":{"get":{"tags":["verification-document-resource"],"operationId":"getVerificationDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}}}}}},"put":{"tags":["verification-document-resource"],"operationId":"updateVerificationDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}}}}}},"delete":{"tags":["verification-document-resource"],"operationId":"deleteVerificationDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["verification-document-resource"],"operationId":"partialUpdateVerificationDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerificationDocumentDTO"}}}}}}},"/api/transfer-receivers/{id}":{"get":{"tags":["transfer-receiver-resource"],"operationId":"getTransferReceiver","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}}}}}},"put":{"tags":["transfer-receiver-resource"],"operationId":"updateTransferReceiver","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}}}}}},"delete":{"tags":["transfer-receiver-resource"],"operationId":"deleteTransferReceiver","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["transfer-receiver-resource"],"operationId":"partialUpdateTransferReceiver","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferReceiverDTO"}}}}}}},"/api/transaction-disputes/{id}":{"get":{"tags":["transaction-dispute-resource"],"operationId":"getTransactionDispute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}}}}}},"put":{"tags":["transaction-dispute-resource"],"operationId":"updateTransactionDispute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}}}}}},"delete":{"tags":["transaction-dispute-resource"],"operationId":"deleteTransactionDispute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["transaction-dispute-resource"],"operationId":"partialUpdateTransactionDispute","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionDisputeDTO"}}}}}}},"/api/state-provinces/{id}":{"get":{"tags":["state-province-resource"],"operationId":"getStateProvince","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}}}}}},"put":{"tags":["state-province-resource"],"operationId":"updateStateProvince","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}}}}}},"delete":{"tags":["state-province-resource"],"operationId":"deleteStateProvince","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["state-province-resource"],"operationId":"partialUpdateStateProvince","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StateProvinceDTO"}}}}}}},"/api/specialties/{id}":{"get":{"tags":["specialty-resource"],"operationId":"getSpecialty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}}}}}},"put":{"tags":["specialty-resource"],"operationId":"updateSpecialty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}}}}}},"delete":{"tags":["specialty-resource"],"operationId":"deleteSpecialty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["specialty-resource"],"operationId":"partialUpdateSpecialty","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpecialtyDTO"}}}}}}},"/api/servicios/{id}":{"get":{"tags":["servicio-resource"],"operationId":"getServicio","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}}}}}},"put":{"tags":["servicio-resource"],"operationId":"updateServicio","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}}}}}},"delete":{"tags":["servicio-resource"],"operationId":"deleteServicio","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["servicio-resource"],"operationId":"partialUpdateServicio","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServicioDTO"}}}}}}},"/api/service-orders/{id}":{"get":{"tags":["service-order-resource"],"operationId":"getServiceOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}}}}}},"put":{"tags":["service-order-resource"],"operationId":"updateServiceOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}}}}}},"delete":{"tags":["service-order-resource"],"operationId":"deleteServiceOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["service-order-resource"],"operationId":"partialUpdateServiceOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceOrderDTO"}}}}}}},"/api/reviews/{id}":{"get":{"tags":["review-resource"],"operationId":"getReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}}}}}},"put":{"tags":["review-resource"],"operationId":"updateReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}}}}}},"delete":{"tags":["review-resource"],"operationId":"deleteReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["review-resource"],"operationId":"partialUpdateReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDTO"}}}}}}},"/api/refund-requests/{id}":{"get":{"tags":["refund-request-resource"],"operationId":"getRefundRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}}}}}},"put":{"tags":["refund-request-resource"],"operationId":"updateRefundRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}}}}}},"delete":{"tags":["refund-request-resource"],"operationId":"deleteRefundRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["refund-request-resource"],"operationId":"partialUpdateRefundRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundRequestDTO"}}}}}}},"/api/procedure-types/{id}":{"get":{"tags":["procedure-type-resource"],"operationId":"getProcedureType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}}}}}},"put":{"tags":["procedure-type-resource"],"operationId":"updateProcedureType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}}}}}},"delete":{"tags":["procedure-type-resource"],"operationId":"deleteProcedureType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["procedure-type-resource"],"operationId":"partialUpdateProcedureType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTypeDTO"}}}}}}},"/api/procedure-templates/{id}":{"get":{"tags":["procedure-templates-resource"],"operationId":"getProcedureTemplates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}}}}}},"put":{"tags":["procedure-templates-resource"],"operationId":"updateProcedureTemplates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}}}}}},"delete":{"tags":["procedure-templates-resource"],"operationId":"deleteProcedureTemplates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["procedure-templates-resource"],"operationId":"partialUpdateProcedureTemplates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplatesDTO"}}}}}}},"/api/procedure-template-supplies/{id}":{"get":{"tags":["procedure-template-supply-resource"],"operationId":"getProcedureTemplateSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}}}}}},"put":{"tags":["procedure-template-supply-resource"],"operationId":"updateProcedureTemplateSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}}}}}},"delete":{"tags":["procedure-template-supply-resource"],"operationId":"deleteProcedureTemplateSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["procedure-template-supply-resource"],"operationId":"partialUpdateProcedureTemplateSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProcedureTemplateSupplyDTO"}}}}}}},"/api/preloaded-entities/{id}":{"get":{"tags":["preloaded-entity-resource"],"operationId":"getPreloadedEntity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}}}}},"put":{"tags":["preloaded-entity-resource"],"operationId":"updatePreloadedEntity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}}}}},"delete":{"tags":["preloaded-entity-resource"],"operationId":"deletePreloadedEntity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["preloaded-entity-resource"],"operationId":"partialUpdatePreloadedEntity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}}}}}},"/api/preloaded-entities/contact-info-json/{id}":{"get":{"tags":["preloaded-entity-resource"],"operationId":"getPreloadedEntityJson","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadedEntityJsonDTO"}}}}}},"put":{"tags":["preloaded-entity-resource"],"operationId":"updatePreloadedEntity_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadedEntityJsonDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadedEntityDTO"}}}}}}},"/api/preload-insurance-companies/{id}":{"get":{"tags":["preload-insurance-company-resource"],"operationId":"getPreloadInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}}}}}},"put":{"tags":["preload-insurance-company-resource"],"operationId":"updatePreloadInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}}}}}},"delete":{"tags":["preload-insurance-company-resource"],"operationId":"deletePreloadInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["preload-insurance-company-resource"],"operationId":"partialUpdatePreloadInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadInsuranceCompanyDTO"}}}}}}},"/api/preload-doctors/{id}":{"get":{"tags":["preload-doctor-resource"],"operationId":"getPreloadDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}}}}}},"put":{"tags":["preload-doctor-resource"],"operationId":"updatePreloadDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}}}}}},"delete":{"tags":["preload-doctor-resource"],"operationId":"deletePreloadDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["preload-doctor-resource"],"operationId":"partialUpdatePreloadDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadDoctorDTO"}}}}}}},"/api/preload-clinics/{id}":{"get":{"tags":["preload-clinic-resource"],"operationId":"getPreloadClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}}}}}},"put":{"tags":["preload-clinic-resource"],"operationId":"updatePreloadClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}}}}}},"delete":{"tags":["preload-clinic-resource"],"operationId":"deletePreloadClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["preload-clinic-resource"],"operationId":"partialUpdatePreloadClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PreloadClinicDTO"}}}}}}},"/api/preaload-pharmacies/{id}":{"get":{"tags":["preaload-pharmacy-resource"],"operationId":"getPrealoadPharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}}}}}},"put":{"tags":["preaload-pharmacy-resource"],"operationId":"updatePrealoadPharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}}}}}},"delete":{"tags":["preaload-pharmacy-resource"],"operationId":"deletePrealoadPharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["preaload-pharmacy-resource"],"operationId":"partialUpdatePrealoadPharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrealoadPharmacyDTO"}}}}}}},"/api/positions/{id}":{"get":{"tags":["position-resource"],"operationId":"getPosition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PositionDTO"}}}}}},"put":{"tags":["position-resource"],"operationId":"updatePosition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PositionDTO"}}}}}},"delete":{"tags":["position-resource"],"operationId":"deletePosition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["position-resource"],"operationId":"partialUpdatePosition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PositionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PositionDTO"}}}}}}},"/api/platform-fee-configurations/{id}":{"get":{"tags":["platform-fee-configuration-resource"],"operationId":"getPlatformFeeConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}}}}}},"put":{"tags":["platform-fee-configuration-resource"],"operationId":"updatePlatformFeeConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}}}}}},"delete":{"tags":["platform-fee-configuration-resource"],"operationId":"deletePlatformFeeConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["platform-fee-configuration-resource"],"operationId":"partialUpdatePlatformFeeConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlatformFeeConfigurationDTO"}}}}}}},"/api/plan-doctors/{id}":{"get":{"tags":["plan-doctor-resource"],"operationId":"getPlanDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}}}}}},"put":{"tags":["plan-doctor-resource"],"operationId":"updatePlanDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}}}}}},"delete":{"tags":["plan-doctor-resource"],"operationId":"deletePlanDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["plan-doctor-resource"],"operationId":"partialUpdatePlanDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlanDoctorDTO"}}}}}}},"/api/pharmacies/{id}":{"get":{"tags":["pharmacy-resource"],"operationId":"getPharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}}}}}},"put":{"tags":["pharmacy-resource"],"operationId":"updatePharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}}}}}},"delete":{"tags":["pharmacy-resource"],"operationId":"deletePharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["pharmacy-resource"],"operationId":"partialUpdatePharmacy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PharmacyDTO"}}}}}}},"/api/pharmacies/profile":{"put":{"tags":["pharmacy-resource"],"summary":"Update current pharmacy profile with media","operationId":"updateProfile","parameters":[{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PharmacyProfileUpdateRequest"},"encoding":{"pharmacy":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePharmacyDTO"}}}}}}},"/api/permisos/{id}":{"get":{"tags":["permisos-resource"],"operationId":"getPermisos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}}}}}},"put":{"tags":["permisos-resource"],"operationId":"updatePermisos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}}}}}},"delete":{"tags":["permisos-resource"],"operationId":"deletePermisos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["permisos-resource"],"operationId":"partialUpdatePermisos","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermisosDTO"}}}}}}},"/api/payment-transactions/{id}":{"get":{"tags":["payment-transaction-resource"],"operationId":"getPaymentTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}}}}}},"put":{"tags":["payment-transaction-resource"],"operationId":"updatePaymentTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}}}}}},"delete":{"tags":["payment-transaction-resource"],"operationId":"deletePaymentTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["payment-transaction-resource"],"operationId":"partialUpdatePaymentTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTransactionDTO"}}}}}}},"/api/payment-receiving-methods/{id}":{"get":{"tags":["payment-receiving-method-resource"],"operationId":"getPaymentReceivingMethod","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}}}}},"put":{"tags":["payment-receiving-method-resource"],"operationId":"updatePaymentReceivingMethod","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}}}}},"delete":{"tags":["payment-receiving-method-resource"],"operationId":"deletePaymentReceivingMethod","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["payment-receiving-method-resource"],"operationId":"partialUpdatePaymentReceivingMethod","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}}}}}},"/api/payment-receiving-methods/my/payment-methods/{id}":{"put":{"tags":["payment-receiving-method-resource"],"operationId":"updateMyPaymentMethod","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}},{"name":"role","in":"query","required":true,"schema":{"type":"string","enum":["PATIENT","DOCTOR","CLINIC","PHARMACY","INSURANCE_COMPANY","ADMIN"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingMethodDTO"}}}}}}},"/api/payment-receiving-bank-accounts/{id}":{"get":{"tags":["payment-receiving-bank-account-resource"],"operationId":"getPaymentReceivingBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}}}}}},"put":{"tags":["payment-receiving-bank-account-resource"],"operationId":"updatePaymentReceivingBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}}}}}},"delete":{"tags":["payment-receiving-bank-account-resource"],"operationId":"deletePaymentReceivingBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["payment-receiving-bank-account-resource"],"operationId":"partialUpdatePaymentReceivingBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentReceivingBankAccountDTO"}}}}}}},"/api/payment-orders/{id}":{"get":{"tags":["payment-order-resource"],"operationId":"getPaymentOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}}}}}},"put":{"tags":["payment-order-resource"],"operationId":"updatePaymentOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}}}}}},"delete":{"tags":["payment-order-resource"],"operationId":"deletePaymentOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["payment-order-resource"],"operationId":"partialUpdatePaymentOrder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentOrderDTO"}}}}}}},"/api/payment-channels/{id}":{"get":{"tags":["payment-channel-resource"],"operationId":"getPaymentChannel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}}}}}},"put":{"tags":["payment-channel-resource"],"operationId":"updatePaymentChannel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}}}}}},"delete":{"tags":["payment-channel-resource"],"operationId":"deletePaymentChannel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["payment-channel-resource"],"operationId":"partialUpdatePaymentChannel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentChannelDTO"}}}}}}},"/api/patients/{id}":{"get":{"tags":["patient-resource"],"operationId":"getPatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDTO"}}}}}},"put":{"tags":["patient-resource"],"operationId":"updatePatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDTO"}}}}}},"delete":{"tags":["patient-resource"],"operationId":"deletePatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["patient-resource"],"operationId":"partialUpdatePatient","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatientDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PatientDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatientDTO"}}}}}}},"/api/package-items/{id}":{"get":{"tags":["package-item-resource"],"operationId":"getPackageItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}}}}}},"put":{"tags":["package-item-resource"],"operationId":"updatePackageItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}}}}}},"delete":{"tags":["package-item-resource"],"operationId":"deletePackageItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["package-item-resource"],"operationId":"partialUpdatePackageItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PackageItemDTO"}}}}}}},"/api/order-status-histories/{id}":{"get":{"tags":["order-status-history-resource"],"operationId":"getOrderStatusHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}}}}}},"put":{"tags":["order-status-history-resource"],"operationId":"updateOrderStatusHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}}}}}},"delete":{"tags":["order-status-history-resource"],"operationId":"deleteOrderStatusHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["order-status-history-resource"],"operationId":"partialUpdateOrderStatusHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderStatusHistoryDTO"}}}}}}},"/api/notifications/{id}":{"get":{"tags":["notification-resource"],"operationId":"getNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}}}}},"put":{"tags":["notification-resource"],"operationId":"updateNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}}}}},"delete":{"tags":["notification-resource"],"operationId":"deleteNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["notification-resource"],"operationId":"partialUpdateNotification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationDTO"}}}}}}},"/api/medical-supplies/{id}":{"get":{"tags":["medical-supply-resource"],"operationId":"getMedicalSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}}}}}},"put":{"tags":["medical-supply-resource"],"operationId":"updateMedicalSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}}}}}},"delete":{"tags":["medical-supply-resource"],"operationId":"deleteMedicalSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["medical-supply-resource"],"operationId":"partialUpdateMedicalSupply","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalSupplyDTO"}}}}}}},"/api/medical-packages/{id}":{"get":{"tags":["medical-package-resource"],"operationId":"getMedicalPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}}}}}},"put":{"tags":["medical-package-resource"],"operationId":"updateMedicalPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}}}}}},"delete":{"tags":["medical-package-resource"],"operationId":"deleteMedicalPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["medical-package-resource"],"operationId":"partialUpdateMedicalPackage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackageDTO"}}}}}}},"/api/medical-package-purchases/{id}":{"get":{"tags":["medical-package-purchase-resource"],"operationId":"getMedicalPackagePurchase","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}}}}}},"put":{"tags":["medical-package-purchase-resource"],"operationId":"updateMedicalPackagePurchase","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}}}}}},"delete":{"tags":["medical-package-purchase-resource"],"operationId":"deleteMedicalPackagePurchase","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["medical-package-purchase-resource"],"operationId":"partialUpdateMedicalPackagePurchase","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalPackagePurchaseDTO"}}}}}}},"/api/medical-conditions/{id}":{"get":{"tags":["medical-condition-resource"],"operationId":"getMedicalCondition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}}}}}},"put":{"tags":["medical-condition-resource"],"operationId":"updateMedicalCondition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}}}}}},"delete":{"tags":["medical-condition-resource"],"operationId":"deleteMedicalCondition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["medical-condition-resource"],"operationId":"partialUpdateMedicalCondition","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MedicalConditionDTO"}}}}}}},"/api/languages/{id}":{"get":{"tags":["language-resource"],"operationId":"getLanguage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}}}}}},"put":{"tags":["language-resource"],"operationId":"updateLanguage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}}}}}},"delete":{"tags":["language-resource"],"operationId":"deleteLanguage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["language-resource"],"operationId":"partialUpdateLanguage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LanguageDTO"}}}}}}},"/api/invoices/{id}":{"get":{"tags":["invoice-resource"],"operationId":"getInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}}}}}},"put":{"tags":["invoice-resource"],"operationId":"updateInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}}}}}},"delete":{"tags":["invoice-resource"],"operationId":"deleteInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["invoice-resource"],"operationId":"partialUpdateInvoice","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"}}}}}}},"/api/invoice-payments/{id}":{"get":{"tags":["invoice-payment-resource"],"operationId":"getInvoicePayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}}}}}},"put":{"tags":["invoice-payment-resource"],"operationId":"updateInvoicePayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}}}}}},"delete":{"tags":["invoice-payment-resource"],"operationId":"deleteInvoicePayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["invoice-payment-resource"],"operationId":"partialUpdateInvoicePayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoicePaymentDTO"}}}}}}},"/api/invoice-items/{id}":{"get":{"tags":["invoice-item-resource"],"operationId":"getInvoiceItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}}}}}},"put":{"tags":["invoice-item-resource"],"operationId":"updateInvoiceItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}}}}}},"delete":{"tags":["invoice-item-resource"],"operationId":"deleteInvoiceItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["invoice-item-resource"],"operationId":"partialUpdateInvoiceItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvoiceItemDTO"}}}}}}},"/api/insurance-policies/{id}":{"get":{"tags":["insurance-policy-resource"],"operationId":"getInsurancePolicy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}}}}}},"put":{"tags":["insurance-policy-resource"],"operationId":"updateInsurancePolicy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}}}}}},"delete":{"tags":["insurance-policy-resource"],"operationId":"deleteInsurancePolicy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["insurance-policy-resource"],"operationId":"partialUpdateInsurancePolicy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePolicyDTO"}}}}}}},"/api/insurance-plans/{id}":{"get":{"tags":["insurance-plan-resource"],"operationId":"getInsurancePlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}}}}}},"put":{"tags":["insurance-plan-resource"],"operationId":"updateInsurancePlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}}}}}},"delete":{"tags":["insurance-plan-resource"],"operationId":"deleteInsurancePlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["insurance-plan-resource"],"operationId":"partialUpdateInsurancePlan","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsurancePlanDTO"}}}}}}},"/api/insurance-companies/{id}":{"get":{"tags":["insurance-company-resource"],"operationId":"getInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}}}}}},"put":{"tags":["insurance-company-resource"],"operationId":"updateInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}}}}}},"delete":{"tags":["insurance-company-resource"],"operationId":"deleteInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["insurance-company-resource"],"operationId":"partialUpdateInsuranceCompany","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyDTO"}}}}}}},"/api/insurance-companies/profile":{"put":{"tags":["insurance-company-resource"],"summary":"Update current insurance company profile with media","operationId":"updateProfile_1","parameters":[{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/InsuranceCompanyProfileUpdateRequest"},"encoding":{"insurance":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInsuranceCompanyDTO"}}}}}}},"/api/identity-compliances/{id}":{"get":{"tags":["identity-compliance-resource"],"operationId":"getIdentityCompliance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}}}}}},"put":{"tags":["identity-compliance-resource"],"operationId":"updateIdentityCompliance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}}}}}},"delete":{"tags":["identity-compliance-resource"],"operationId":"deleteIdentityCompliance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["identity-compliance-resource"],"operationId":"partialUpdateIdentityCompliance","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdentityComplianceDTO"}}}}}}},"/api/exchange-rates/{id}":{"get":{"tags":["exchange-rate-resource"],"operationId":"getExchangeRate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}}}}}},"put":{"tags":["exchange-rate-resource"],"operationId":"updateExchangeRate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}}}}}},"delete":{"tags":["exchange-rate-resource"],"operationId":"deleteExchangeRate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["exchange-rate-resource"],"operationId":"partialUpdateExchangeRate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExchangeRateDTO"}}}}}}},"/api/escrow-accounts/{id}":{"get":{"tags":["escrow-account-resource"],"operationId":"getEscrowAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}}}}}},"put":{"tags":["escrow-account-resource"],"operationId":"updateEscrowAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}}}}}},"delete":{"tags":["escrow-account-resource"],"operationId":"deleteEscrowAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["escrow-account-resource"],"operationId":"partialUpdateEscrowAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EscrowAccountDTO"}}}}}}},"/api/doctors/{id}":{"get":{"tags":["doctor-resource"],"operationId":"getDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}}}}}},"put":{"tags":["doctor-resource"],"operationId":"updateDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}}}}}},"delete":{"tags":["doctor-resource"],"operationId":"deleteDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["doctor-resource"],"operationId":"partialUpdateDoctor","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorDTO"}}}}}}},"/api/doctors/profile":{"put":{"tags":["doctor-resource"],"summary":"Update current doctor profile with media","operationId":"updateProfile_2","parameters":[{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["doctor"],"type":"object","properties":{"doctor":{"$ref":"#/components/schemas/DoctorUpdateDTO"},"profileImage":{"type":"string","format":"binary"},"medicalLicense":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDoctorDTO"}}}}}}},"/api/doctor-plan-histories/{id}":{"get":{"tags":["doctor-plan-history-resource"],"operationId":"getDoctorPlanHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}}}}}},"put":{"tags":["doctor-plan-history-resource"],"operationId":"updateDoctorPlanHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}}}}}},"delete":{"tags":["doctor-plan-history-resource"],"operationId":"deleteDoctorPlanHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["doctor-plan-history-resource"],"operationId":"partialUpdateDoctorPlanHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorPlanHistoryDTO"}}}}}}},"/api/doctor-experiences/{id}":{"get":{"tags":["doctor-experience-resource"],"operationId":"getDoctorExperience","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}}}}}},"put":{"tags":["doctor-experience-resource"],"operationId":"updateDoctorExperience","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}}}}}},"delete":{"tags":["doctor-experience-resource"],"operationId":"deleteDoctorExperience","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["doctor-experience-resource"],"operationId":"partialUpdateDoctorExperience","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorExperienceDTO"}}}}}}},"/api/doctor-additional-files/{id}":{"get":{"tags":["doctor-additional-file-resource"],"operationId":"getDoctorAdditionalFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}}}}},"put":{"tags":["doctor-additional-file-resource"],"operationId":"updateDoctorAdditionalFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}}}}},"delete":{"tags":["doctor-additional-file-resource"],"operationId":"deleteDoctorAdditionalFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["doctor-additional-file-resource"],"operationId":"partialUpdateDoctorAdditionalFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}}}}}},"/api/doctor-additional-files/custom-upload/{id}":{"put":{"tags":["doctor-additional-file-resource"],"operationId":"updateDoctorAdditionalFileCust","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}},{"name":"fileName","in":"query","required":true,"schema":{"type":"string"}},{"name":"fileType","in":"query","required":true,"schema":{"type":"string","enum":["PREGRADO","POSTGRADO","ESPECIALIDAD","OTROS_ESTUDIOS","CERTIFICACIONES_MEDICAS_EXPERIENCIAS"]}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DoctorAdditionalFileDTO"}}}}}},"delete":{"tags":["doctor-additional-file-resource"],"operationId":"deleteUploadedDoctorAdditionalFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/disbursements/{id}":{"get":{"tags":["disbursement-resource"],"operationId":"getDisbursement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}}}}}},"put":{"tags":["disbursement-resource"],"operationId":"updateDisbursement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}}}}}},"delete":{"tags":["disbursement-resource"],"operationId":"deleteDisbursement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["disbursement-resource"],"operationId":"partialUpdateDisbursement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DisbursementDTO"}}}}}}},"/api/departments/{id}":{"get":{"tags":["department-resource"],"operationId":"getDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}}}}}},"put":{"tags":["department-resource"],"operationId":"updateDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}}}}}},"delete":{"tags":["department-resource"],"operationId":"deleteDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["department-resource"],"operationId":"partialUpdateDepartment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepartmentDTO"}}}}}}},"/api/delivery-milestones/{id}":{"get":{"tags":["delivery-milestone-resource"],"operationId":"getDeliveryMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}}}}}},"put":{"tags":["delivery-milestone-resource"],"operationId":"updateDeliveryMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}}}}}},"delete":{"tags":["delivery-milestone-resource"],"operationId":"deleteDeliveryMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["delivery-milestone-resource"],"operationId":"partialUpdateDeliveryMilestone","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryMilestoneDTO"}}}}}}},"/api/dashboard-ads/{id}":{"get":{"tags":["dashboard-ad-resource"],"operationId":"getDashboardAd","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}}}}}},"put":{"tags":["dashboard-ad-resource"],"operationId":"updateDashboardAd","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}}}}}},"delete":{"tags":["dashboard-ad-resource"],"operationId":"deleteDashboardAd","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["dashboard-ad-resource"],"operationId":"partialUpdateDashboardAd","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardAdDTO"}}}}}}},"/api/dashboard-ads/admin/update/{id}":{"put":{"tags":["dashboard-ad-resource"],"summary":"Update an existing dashboardAd with optional media (Admin only)","operationId":"updateAdWithMedia","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["ad"],"type":"object","properties":{"ad":{"$ref":"#/components/schemas/DashboardAdDTO"},"mediaFile":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDashboardAdDTO"}}}}}}},"/api/current-medications/{id}":{"get":{"tags":["current-medication-resource"],"operationId":"getCurrentMedication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}}}}}},"put":{"tags":["current-medication-resource"],"operationId":"updateCurrentMedication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}}}}}},"delete":{"tags":["current-medication-resource"],"operationId":"deleteCurrentMedication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["current-medication-resource"],"operationId":"partialUpdateCurrentMedication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrentMedicationDTO"}}}}}}},"/api/currencies/{id}":{"get":{"tags":["currency-resource"],"operationId":"getCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"put":{"tags":["currency-resource"],"operationId":"updateCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"delete":{"tags":["currency-resource"],"operationId":"deleteCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["currency-resource"],"operationId":"partialUpdateCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}}},"/api/countries/{id}":{"get":{"tags":["country-resource"],"operationId":"getCountry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CountryDTO"}}}}}},"put":{"tags":["country-resource"],"operationId":"updateCountry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CountryDTO"}}}}}},"delete":{"tags":["country-resource"],"operationId":"deleteCountry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["country-resource"],"operationId":"partialUpdateCountry","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/CountryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CountryDTO"}}}}}}},"/api/clinics/{id}":{"get":{"tags":["clinic-resource"],"operationId":"getClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}}}}}},"put":{"tags":["clinic-resource"],"operationId":"updateClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}}}}}},"delete":{"tags":["clinic-resource"],"operationId":"deleteClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["clinic-resource"],"operationId":"partialUpdateClinic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClinicDTO"}}}}}}},"/api/clinics/profile":{"put":{"tags":["clinic-resource"],"summary":"Update current clinic profile with media","operationId":"updateProfile_3","parameters":[{"name":"X-Alteha-Token","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["clinic"],"type":"object","properties":{"clinic":{"$ref":"#/components/schemas/ClinicUpdateDTO"},"logo":{"type":"string","format":"binary"},"rif":{"type":"string","format":"binary"},"mercantileRegistry":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseClinicDTO"}}}}}}},"/api/cities/{id}":{"get":{"tags":["city-resource"],"operationId":"getCity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CityDTO"}}}}}},"put":{"tags":["city-resource"],"operationId":"updateCity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CityDTO"}}}}}},"delete":{"tags":["city-resource"],"operationId":"deleteCity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["city-resource"],"operationId":"partialUpdateCity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/CityDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CityDTO"}}}}}}},"/api/bids/{id}":{"get":{"tags":["bid-resource"],"operationId":"getBid","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidDTO"}}}}}},"put":{"tags":["bid-resource"],"operationId":"updateBid","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidDTO"}}}}}},"delete":{"tags":["bid-resource"],"operationId":"deleteBid","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["bid-resource"],"operationId":"partialUpdateBid","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/BidDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidDTO"}}}}}}},"/api/bid-items/{id}":{"get":{"tags":["bid-item-resource"],"operationId":"getBidItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}}}}}},"put":{"tags":["bid-item-resource"],"operationId":"updateBidItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}}}}}},"delete":{"tags":["bid-item-resource"],"operationId":"deleteBidItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["bid-item-resource"],"operationId":"partialUpdateBidItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidItemDTO"}}}}}}},"/api/bid-histories/{id}":{"get":{"tags":["bid-history-resource"],"operationId":"getBidHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}}}}}},"put":{"tags":["bid-history-resource"],"operationId":"updateBidHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}}}}}},"delete":{"tags":["bid-history-resource"],"operationId":"deleteBidHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["bid-history-resource"],"operationId":"partialUpdateBidHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BidHistoryDTO"}}}}}}},"/api/banks/{id}":{"get":{"tags":["bank-resource"],"operationId":"getBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankDTO"}}}}}},"put":{"tags":["bank-resource"],"operationId":"updateBank","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankD
[...]
